body {
    font-family: Arial, Impact, sans-serif;
    font-size: 12;
    margin: 0;
    background-color: rgb(246, 242, 240);
    line-height: 1em;
}

nav > ul {
    background-color: rgba(81, 182, 225, 0.4);
    padding: 20px;
    margin-top: 0;
    padding-left: 5%;
    display: flex;
}

nav > ul > li {
    list-style: none;
    padding-right: 20px;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    border: 2px outset royalblue;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

body > main {
    padding-left: 5%;
}

body > footer > h4 {
    background-color: rgba(81, 182, 225, 0.4);
    padding: 5px;
    padding-left: 5%;
    text-align: center;
}

body > main > h3 {
    font-family:'Trebuchet MS', Arial;
    font-style:oblique;
    text-align: center;
}

body > main > p{
    padding-bottom: 15px;
}

body > main > ul > li{
    padding-bottom: 15px;
}

form {
    display: inline-block;
}

form > input {
    padding-right: 50px;
}